<!-- if new record -->
  <div class="table-responsive">
  
  <table class="table table-striped  table-bordered  table-condensed controls">
  <th>S.No</th> <th>Company</th><th>Item Description</th><th>Size</th><th>Quantity</th><th>Unit</th><th>Remarks</th><th>Action</th>
    <tr class="entry">
    <td><div class="form-group ">
      <input class="form-control" name="quote[details][1][sno]" type="text" placeholder="No." />
    </div>
    </td>
    
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][company]" type="text" placeholder="Company" />
    </div>
    </td>
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][item_description]" type="text" placeholder="Item Description" />
    </div>
    </td>
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][size]" type="text" placeholder="Size" />
    </div>
    </td>
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][quantity]" type="text" placeholder="Quantity" />
    </div>
    </td>
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][unit]" type="text" placeholder="Unit" />
    </div>
    </td>
    <td>
    <div class="form-group">
      <input class="form-control" name="quote[details][1][remarks]" type="text" placeholder="Remarks" />
    </div>
    </td>
    <td>
    <span class="input-group-btn">
      <button class="btn btn-success btn-add" type="button">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      </span>
      </td>
      </tr>
      </table>
  </div>