<div class="form-group col-md-4">
		<h1 style="margin-top:0px"> Edit Quote</h1>
		<br>
	</div>
	<% if current_user.present? %> 
    <%= render 'form_user' %>
     <% end %>
     
     <% if current_dealer.present? %> 
    <%= render 'form_dealer' %>
     <% end %>
     
     <% if current_admin.present? %> 
    <%= render 'form_admin' %>
     <% end %>
     
 